<mat-toolbar class="favorites">
  <button class="fav-button" mat-button routerLink="/favorites">
    Favorites
  </button>
</mat-toolbar>

<mat-list class="track-list">
  <mat-list-item *ngFor="let file of tracks; let i = index">
    <img matListItemIcon class="track-photo" [src]="file.img" />
    <h2 matListItemTitle class="track-name" (click)="playTrack(file)">
      {{ file.name }}
    </h2>
    <h6 matListItemLine class="artist-name" (click)="playTrack(file)">
      by {{ file.artist }}
    </h6>
    <mat-icon
      matListItemIcon
      class="active-track"
      *ngIf="tracks.indexOf(this.state.activeTrack) === i"
      fontIcon="headphones"
    ></mat-icon>
    <mat-icon
      matListItemIcon
      matTooltip="Remove from favorite Track"
      *ngIf="file.isFavorite === true"
      class="favorite-icon"
      (click)="handleFavorites(false, i)"
      >favorite</mat-icon
    >
    <mat-icon
      matListItemIcon
      matTooltip="Add to favorite Tracks"
      *ngIf="file.isFavorite === false"
      class="favorite-border-icon"
      (click)="handleFavorites(true, i)"
      >favorite_border</mat-icon
    >
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
